<textarea class="form-control" 
          id="metadataTextArea" 
          rows="20" 
          style="resize: none;" 
          [(ngModel)]='textAreaInput'
          ></textarea>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="matchExp()" >Process</button>


<table class='table' *ngIf="questionList">
    <thead>
        <tr>
            <th>Question Name</th>
            <th>Question Type</th>
            <th>Question Text</th>
            <th>Start position</th>
            <th>End position</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let question of questionList">
            <td>{{ question.name }}</td>
            <td>{{ QuestionType[question.type] }}</td>
            <td>{{ question.questionText }}</td>
            <td>{{ question.posStart }}</td>
            <td>{{ question.posEnd }}</td>
        </tr>
    </tbody>
</table>

